
.container {
    margin: 0 auto;
    display: block;
    clear: both;
    width: 100%;
    max-width: 571px;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
}

.container h2 {
    padding-bottom: 40px;
    font-size: 45px;
    color: #141313;
    line-height: 50px;
    font-weight: bold;
    display: inline-block;

}

.register {
    background: #fff;
    padding-top: 74px;
    
}

.register_form .form_control {
    text-align: center;
    position:static;
    padding: 0 20px;
    margin-bottom: 15px;
    width: 70%;
    height: 56px;
    background: #f9f2ea;
    color: #1f1d14;
    border: 1px solid #F37A1F;
    border-radius: 20px;
    font-size: 20px;
    font-weight: normal;
    
    box-shadow: 2px 0 62px rgba(13, 3, 3, 0.04);
}

.register_form .send_btn {
    
    font-size: 18px;
    transition: ease-in all 0.5s;
    background-color: #363636;
    text-transform: uppercase;
    color: #fff;
    max-width: 276px;
    width: 100%;
    display: block;
    font-weight: bold;
    height: 78px;
    line-height: 78px;
    margin: 0 auto;
}

.register_form .send_btn:hover {
    background-color: #39b54a;
    transition: ease-in all 0.5s;
    color: #fff;
}

::placeholder {
    text-align: center;
    color: grey;
    opacity: 1;
    font-size: 15px ;
}